<app-topo></app-topo>
<ngx-spinner></ngx-spinner>
<div class="containerPai">
<div class="row justify-content-md-center">
        <div *ngIf="retornouConsulta; else nenhumdado">
                <div class="card border-info mb-3 card_processo">
                    <div class="card w-100">
                        <div class="card-body">
                            <h5 class="card-title">{{consultaView.processo}} - {{consultaView.fase}}</h5>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="tituloCampo">Ultimo evento:</div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <div class="valorCampo">{{consultaView.ult_evento}}</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-3">
                                    <div class="tituloCampo">Fase:</div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <div class="valorCampo">{{consultaView.fase}}</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-2">
                                    <div class="tituloCampo">Substancia:</div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <div class="valorCampo">{{consultaView.subs}}</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-1">
                                    <div class="tituloCampo">Área:</div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <div class="valorCampo">{{consultaView.area_ha}} ha</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-1">
                                    <div class="tituloCampo">UF:</div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <div class="valorCampo">{{consultaView.UF}}</div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
              
            



        </div>
        <ng-template #nenhumdado>
            <div class="row"> {{mensagemCampoProcessos}}</div>
        </ng-template>
    </div>
</div>
</div>