<app-topo></app-topo>
<ngx-spinner type="ball-fussion"></ngx-spinner>
<div class="containerPai">

        <div class="row justify-content-start rowBotaoCriarProjeto">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">Criar projeto</button>
        </div>

        <div class="row rowProjetos">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4" *ngFor="let projeto of projetos; let i = index"
                        style="cursor: pointer">
                        <div class="card mb-3 cardProjeto" style="max-width: 20rem; border-color: #AAAAAA;"
                                (click)=abrirTelaProjeto(projeto);>
                                <div class="card-header" [ngStyle]="getColor(i)"><fa-icon [icon]="faFolder"></fa-icon> {{projeto.titulo}}</div>
                                <div class="card-body">
                                        <p class="card-text" style="font-size: 8pt;">
                                                <fa-icon [icon]="faFile" [ngStyle]="getStyleIcon(i)"></fa-icon>
                                                {{getTamanhoArrayProcessos(projeto.processos)}} processos
                                        </p>
                                </div>
                        </div>
                </div>
        </div>
        <app-incluir-projeto (atualizarTelaMeusProjetos)="atualizarTelaMeusProjetos()"></app-incluir-projeto>

</div>