<app-topo></app-topo>
<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#modalExemplo">Criar projeto</button>


<div>
        <div class="row">
<div class="card col-4 col-sm-4 col-md-4 col-lg-4 text-white bg-info col-sm" *ngFor="let projeto of projetos" style="max-width: 25rem; margin: 2rem;">
        <!-- <div class="card-header">{{projeto.titulo}} </div> -->
         <div class="card-body" (click)=abrirTelaProjeto(projeto);>
          <h5 class="card-title">{{projeto.titulo}}</h5>
          <!-- <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p> -->
        </div> 
      </div>
</div>
</div>

<!-- <li *ngFor="let projeto of projetos; index as i; first as isFirst">
        {{i}}/{{projetos.length}}. {{projeto}} <span *ngIf="isFirst">default</span>
      </li> -->
<app-incluir-projeto></app-incluir-projeto>